@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {
    padding: 0;
    margin: 0;
}

:root {
    --blue: #0E8CE4;
    --white: #ffffff;
    --black: #000000;
    --gray: #a19a9a;
    --lightGray: #e5e5e5;
    --darkGray: #7f7f7f;
    --transparentBlack: #000000CC;
    --fontFamily: 'Rubik', sans-serif;
  }

body {
    font-family: var(--fontFamily);
}

a {
    text-decoration: none;
    color: var(--black);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid var(--lightGray);
}

#logo-container a {
    display: flex;
    align-items: center;
}

#logo-container h1 {
    color: var(--blue);
    font-size: 40px;
    margin-left: 5px;
}

#search-container {
    width: 300px;
    display: flex;
    align-items: center;
    
}

#search-container input {
    width: 260px;
    height: 40px;
    border: 1px solid var(--lightGray);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 10px;
    font-size: 15px;
    color: var(--darkGray);
    outline: none;
}

#search-container input:focus {
    border: 1px solid var(--blue);
}

#search-container button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--blue);
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#search-container button svg {
    fill: var(--white);
    width: 20px;
}

#buyer-seller-container button {
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}

#buyer {
    background-color: var(--white);
    border: 2px solid var(--blue);
    color: var(--blue);
}

#buyer:hover {
    background-color: var(--blue);
    color: var(--white);
    transition: all;
    transition-duration: 1s;
}

#seller {
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

#seller:hover {
    background-color: var(--white);
    border: 2px solid var(--blue);
    color: var(--blue);
    transition: all;
    transition-duration: 1s;
}

#cart-container {
    display: flex;
    align-items: center;
    height: 80px;
    position: relative;
}

#added-products-count {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 33px;
    left: 15px;
    width: 15px;
    height: 15px;
}

#price-container {
    display: flex;
    flex-direction: column;
    margin-left: 23px;
    font-size: 20px;
}

#price-container a:hover {
    color: var(--blue);
    text-decoration: underline;
}

#total-price {
    font-size: 14px;
    color: var(--gray);
    margin-top: 3px;
}


/* Filters Container */
#filters-container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--lightGray);
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    position: relative;
}

#categories {
    height: 70px;
    width: 300px;
    position: relative;
}

#categories-list {
    list-style-type: none;
    display: none;
    margin-top: 70px;
    width: 100%;
    box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
}

#categories-list li {
    padding: 20px 0px 20px 35px;
    border-bottom: 1px solid var(--lightGray);
    background-color: var(--white);
    font-size: 18px;
    cursor: pointer;
}

#categories-list li:last-child {
    border: none;
}

#categories-list li:hover {
    background-color: var(--lightGray);
    color: var(--blue);
}

#categories-button {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 70px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    outline: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#categories-button i {
    margin-right: 20px;
    font-size: 25px;
}

/* Price & Display */
#filters{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 50px;
}

.filter-container {
    position: relative;
    margin: 0px 15px;
}

.filter-btn {
    background-color: var(--white);
    border: none;
    outline: none;
    font-size: 18px;
    color: var(--black);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.filter-btn i {
    font-size: 12px;
    margin-left: 10px;
}

.filter-btn:hover {
    color: var(--blue);
}

.filter-options {
    display: none;
    color: var(--darkGray);
    background-color: var(--white);
    position: absolute;
    box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    z-index: 1;
    width: 100%;
    padding-top: 23px;
}

.filter-options span {
    display: block;
    padding: 15px 0px 15px 18px;
    font-size: 17px;
    cursor: pointer;
}

.filter-options span:hover {
    color: var(--blue);
}

.filter-container:hover .filter-options {
    display: block;
}


/* Products */
#products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.product {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--lightGray);
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}

.product img {
    max-width: 80%;
    height: 50%;
    align-self: center;
    padding: 20px 10px 10px 10px;
}

.product:hover img {
    transform: scale(1.1);
    transition: all;
    transition-duration: 0.5s;
}

.product-price {
    align-self: center;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 600;
}

.product-name {
    align-self: center;
    padding: 0px 10px 15px 10px;
    font-size: 18px;
}

.add-cart-btn {
    height: 45px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

.add-cart-btn:hover {
    opacity: 0.8;
}


/* newletter */
#newsletter {
    margin-top: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    background-color: #eeeeee65;
}

#newsletter-text {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

#newsletter-text span {
    font-size: 20px;
    margin-left: 20px;
}

#newsletter-input {
    display: flex;
}

#newsletter-input input {
    width: 400px;
    height: 50px;
    border: 1px solid var(--lightGray);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 10px;
    font-size: 15px;
    color: var(--darkGray);
    outline: none;
    box-sizing: border-box;
}

#newsletter-input input:focus {
    border: 1px solid var(--blue);
}

#newsletter-input button {
    width: 130px;
    height: 50px;
    cursor: pointer;
    background-color: var(--blue);
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
    color: var(--white);
}

#newsletter-input button:hover {
    opacity: 0.8;
}


/* Footer */
footer {
    padding: 0px 100px;
}

#logo-links-container {
    display: flex;
    justify-content: space-around;
    margin: 70px 0px;
}

#footer-logo a {
    display: flex;
    align-items: center;
}

#footer-logo span {
    color: var(--blue);
    font-size: 30px;
    margin-left: 15px;
}

#footer-links {
    display: flex;
}

.columns {
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
}

.columns span {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.columns ul {
    list-style-type: none;
}

.columns ul li {
    padding: 15px 0px;
}

.columns li a {
    color: var(--gray);
    font-size: 15px;
}

.columns li a:hover {
    color: var(--blue);
}

#copyright {
    height: 80px;
    border-top: 1px solid var(--lightGray);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
}