@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {
    padding: 0;
    margin: 0;
}

:root {
    --blue: #0E8CE4;
    --white: #ffffff;
    --black: #000000;
    --gray: #a19a9a;
    --lightGray: #e5e5e5;
    --darkGray: #7f7f7f;
    --transparentBlack: #000000CC;
    --red: #fc2f2f;
    --fontFamily: 'Rubik', sans-serif;
  }

body {
    font-family: var(--fontFamily);
}

a {
    text-decoration: none;
    color: var(--black);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid var(--lightGray);
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: var(--white);
}

#logo-container a {
    display: flex;
    align-items: center;
}

#logo-container h1 {
    color: var(--blue);
    font-size: 40px;
    margin-left: 5px;
}

#search-container {
    width: 300px;
    display: flex;
    align-items: center;
    
}

#search-container input {
    width: 260px;
    height: 40px;
    border: 1px solid var(--lightGray);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 10px;
    font-size: 15px;
    color: var(--darkGray);
    outline: none;
}

#search-container input:focus {
    border: 1px solid var(--blue);
}

#search-container button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--blue);
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#search-container button svg {
    fill: var(--white);
    width: 20px;
}

#buyer-seller-container button {
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}

#buyer {
    background-color: var(--white);
    border: 2px solid var(--blue);
    color: var(--blue);
}

#buyer:hover {
    background-color: var(--blue);
    color: var(--white);
    transition: all;
    transition-duration: 1s;
}

#add-product-btn {
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--lightGray);
}

#add-product-btn:hover i {
    color: var(--blue);
}

#add-product-btn i {
    margin-left: 10px;
}

/* main */
main {
    position: relative;
    top: 80px;
}


/* form-container */
#form-container {
    position: fixed;
    visibility: hidden;
    width: 900px;
    height: 500px;
    background-color: var(--white);
    border: 2px solid var(--lightGray);
    border-radius: 10px;
    z-index: 1;
    top: 100px;
    left: 230px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
}

#close-form-container {
    display: flex;
    justify-content: flex-end;
    width: 98%;
    padding-top: 10px;
}

#close-btn {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
}

#close-btn:hover {
    opacity: 0.8;
}

#product-details-text {
    margin: 15px 0px;
    padding-left: 40px;
    font-size: 25px;
}

#form-container form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    width: 90%;
}

form label {
    margin: 20px 0px;
    padding-left: 20px;
    display: flex;
    height: 40px;
}

form label span {
    width: 25%;
    align-self: center;
}

form input, form select {
    width: 60%;
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 15px;
    color: var(--black);
    outline: none;
}

form input:focus, form select:focus {
    border: 1px solid var(--blue);
}

select {
    width: 63% !important;
    cursor: pointer;
}

#form-btns-container {
    padding-left: 20px;
    margin-top: 20px;
    height: 35px;
    display: flex;
}

#form-btns-container button {
    width: 90px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: var(--white);
    outline: none;
    cursor: pointer;
}

#form-btns-container button:hover {
    opacity: 0.8;
}

#save-btn, #save-changes-btn {
    background-color: var(--blue);
    margin-right: 20px;
}

#save-changes-btn {
    width: 150px !important;
    display: none;
}

#cancel-btn {
    background-color: var(--darkGray);
}


/* Products */
#products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.product {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--lightGray);
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}

.product img {
    max-width: 80%;
    height: 50%;
    align-self: center;
    padding: 20px 10px 10px 10px;
}

.product:hover img {
    transform: scale(1.1);
    transition: all;
    transition-duration: 0.5s;
}

.product-price {
    align-self: center;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 600;
}

.product-name {
    align-self: center;
    padding: 0px 10px 15px 10px;
    font-size: 18px;
}

.btns-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 45px;
    width: 49%;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

.delete {
    background-color: var(--red);
}

.btn:hover {
    opacity: 0.8;
}


/* newletter */
#newsletter {
    margin-top: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    background-color: #eeeeee65;
}

#newsletter-text {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

#newsletter-text span {
    font-size: 20px;
    margin-left: 20px;
}

#newsletter-input {
    display: flex;
}

#newsletter-input input {
    width: 400px;
    height: 50px;
    border: 1px solid var(--lightGray);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 10px;
    font-size: 15px;
    color: var(--darkGray);
    outline: none;
    box-sizing: border-box;
}

#newsletter-input input:focus {
    border: 1px solid var(--blue);
}

#newsletter-input button {
    width: 130px;
    height: 50px;
    cursor: pointer;
    background-color: var(--blue);
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
    color: var(--white);
}

#newsletter-input button:hover {
    opacity: 0.8;
}


/* Footer */
footer {
    padding: 0px 100px;
}

#logo-links-container {
    display: flex;
    justify-content: space-around;
    margin: 70px 0px;
}

#footer-logo a {
    display: flex;
    align-items: center;
}

#footer-logo span {
    color: var(--blue);
    font-size: 30px;
    margin-left: 15px;
}

#footer-links {
    display: flex;
}

.columns {
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
}

.columns span {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.columns ul {
    list-style-type: none;
}

.columns ul li {
    padding: 15px 0px;
}

.columns li a {
    color: var(--gray);
    font-size: 15px;
}

.columns li a:hover {
    color: var(--blue);
}

#copyright {
    height: 80px;
    border-top: 1px solid var(--lightGray);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
}